/* =============== GENERAL TAGS =============== */
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: 'Roboto', sans-serif;
  /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}

p {
  font-weight: 400;
}
/* ========== CUSTOM GLOBAL VARIABLES & CLASSES ========== */
:root {
  --bg-color-purple: #443b91;
  --bg-color-blue: #00afef;
  --bg-color-red: #e7373d;
}
.red-bg {
  background-color: var(--bg-color-red);
}
.blue-bg {
  background-color: var(--bg-color-blue);
}
.purple-bg {
  background-color: var(--bg-color-purple);
}

.red-font {
  color: #e7373d;
}

.blue-font {
  color: #00afef;
}

.purple-font {
  color: #443b91;
}

.grey-font {
  color: #7a7a7a;
}

.white-font {
  color: #fff;
}

.lock-scroll {
  overflow: hidden;
}

div.hidden {
  display: none;
}

/* ============== HEADER SECTION ============== */
header {
  width: 70%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px;
  margin-bottom: 50px;
  & img {
    cursor: pointer;
  }
}

#nav-items {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-items a,
#mobile-nav-items a {
  font-size: 1.3rem;
  border-radius: 25px;
  margin: 12px;

  &.purple-fill-animation:hover,
  &.purple-fill-animation.active {
    animation: purple-nav-fill-animation 0.3s;
    animation-fill-mode: forwards;
  }
  &.blue-fill-animation:hover,
  &.blue-fill-animation.active {
    animation: blue-nav-fill-animation 0.3s;
    animation-fill-mode: forwards;
  }
}

@keyframes purple-nav-fill-animation {
  100% {
    color: #fff;
    background-color: var(--bg-color-purple);
    padding: 12px;
    margin: 0;
  }
}
@keyframes blue-nav-fill-animation {
  100% {
    color: #fff;
    background-color: var(--bg-color-blue);
    padding: 12px;
    margin: 0;
  }
}

/*=============== MOBILE NAV MENU=============== */
#mobile-nav {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  z-index: 15;
  /* margin: 20px 16% 0 0; */
  padding: 20px 16% 0 0;
  & #menu-button {
    font-size: 2.5rem;
    color: var(--bg-color-purple);
    margin: 10px;
    cursor: pointer;
    &.active {
      color: #fff;
      position: fixed;
    }
  }
  & #mobile-nav-items {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 30px;
    color: #fff;
    margin: 80px 0 0 0;
    &.active {
      display: flex;
    }
  }
  &.active {
    background-color: #443b9180;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
  }
}

/* ================ HERO SECTION ================ */

#hero {
  display: flex;
  padding: 100px 0;
  &.hidden {
    display: none;
  }
}

#hero-info,
#hero-img {
  width: 50%;
}

#hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-title {
  font-size: 3rem;
  margin: 0 0 20px 0;
  width: fit-content;
}

#hero-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0 0 30px 0;
  width: 70%;
}

#hero-know-more-btn {
  color: #fff;
  background-color: var(--bg-color-blue);
  padding: 15px;
  border-radius: 25px;
  margin: 0 0 30px 0;
  width: fit-content;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

#hero-details {
  display: flex;
  gap: 5px;
  width: fit-content;

  & p {
    margin-right: 10px;
  }
}

#hero-img {
  position: relative;
  /* height: 10%; */
}

#hero-img img {
  position: absolute;
  /* height: 120%; */
  height: 525px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/*============== WHATSAPP WIDGET============== */
#whatsapp {
  position: fixed;
  animation: whatsapp-load 5s;
}
@keyframes whatsapp-load {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
  }
  100% {
    opacity: 1;
  }
}
#whatsapp-widget {
  opacity: 0;
  transition: all 0.2s ease;
  position: fixed;
  right: 25px;
  bottom: 25px;
  height: 300px;
  width: 25%;
  background-color: #7bdcb5;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 2;
  }
}
#whatsapp-widget-header {
  width: 100%;
  height: 25%;
  background-color: #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  & h3 {
    color: #fff;
    width: 80%;
    font-size: 1.6rem;
    display: flex;
    justify-content: start;
    align-items: center;
    & i {
      font-size: 2.5rem;
      margin-right: 5px;
    }
  }
  & .fa-x {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
#whatsapp-widget-chat {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.96);
  & .chat-bubble {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    width: 80%;
    height: 50px;
    border-radius: 0px 25px 25px 25px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transform: translate(-50%, -50%);
    & p {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.1rem;
      line-height: 1.5em;
    }
  }
}
#whatsapp-widget-button {
  position: fixed;
  bottom: 35px;
  right: 35px;
  height: 50px;
  width: 50px;
  background-color: #25d366;
  border-radius: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  cursor: pointer;
  z-index: 5;
  overflow: hidden;
  transition: all 0.2s ease;
  &:hover {
    background-color: #34fd7e;
  }
  &.active {
    padding: 10px 12px 10px 126px;
  }
  animation: whatsapp-load-button 5s;
}
@keyframes whatsapp-load-button {
  80% {
    transform: scale(0.1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#open-chat-button,
#open-widget-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  gap: 15px;
  & i {
    font-size: 2.8rem;
  }
  &.active {
    display: flex;
    animation: fade-in 0.5s ease-in;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ============== COOKIES & POLICY PAGE ============== */
#review-consent-btn {
  position: fixed;
  bottom: 0;
  right: 100px;
  box-shadow: 2px 2px 5px 2px black;
  padding: 10px 12px;
  background-color: white;
  cursor: pointer;
  & p {
    font-size: 0.8rem;
  }
}
#website-uses-cookies-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  & a {
    font-weight: 400;
    text-decoration: underline;
  }
  & p,
  & button {
    margin: 10px 5px;
  }
  & button {
    border-radius: 0;
    border: 0;
    padding: 8px;
    cursor: pointer;
    &#cookies-configure-btn {
      color: rgba(51, 51, 51, 0.8);
      background-color: rgba(179, 180, 181, 1);
      &:hover {
        background-color: rgb(152, 152, 153);
      }
    }
    &#cookies-accept-btn {
      color: #fff;
      background-color: rgba(68, 59, 145, 1);
      &:hover {
        background-color: rgb(49, 43, 107);
      }
    }
  }
}

#cookies-config {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  & #cookies-config-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 550px;
    height: 600px;
    padding: 30px;
    & #scrollable-section {
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      height: 90%;
      & h3 {
        font-weight: 400;
        margin: 0 0 10px 0;
      }
      & p {
        font-size: 0.9rem;
        margin: 10px 0;
      }
      & a {
        text-decoration: underline;
        font-weight: 400;
        font-size: 0.9rem;
      }
      & span.hidden,
      & p.hidden,
      & a.hidden {
        display: none;
      }
    }

    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      border-radius: 5px;
      padding: 5px;
      width: 98%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & i {
        transition: 0.4s;
      }
      & .option-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.active {
        & i {
          transform: rotate(90deg);
        }
      }
    }
    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      & p {
        margin: 10px 0;
      }
      & table {
        border-collapse: collapse;
        margin: 10px 0;
        & tr {
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
        & td,
        & th {
          vertical-align: top;
          text-align: left;
          padding: 5px;
        }
        & th {
          background-color: #3a4856;
          color: #fff;
          font-weight: 400;
          font-size: 0.9rem;
        }
        & td {
          background-color: #f7f7f7;
          font-size: 0.8rem;
        }
      }
    }
  }
  & .cookie-option {
    margin: 5px 0;
    &:first-of-type {
      margin-top: 20px;
    }
  }
}
/* Switch Sliders */
.toggle-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 5px;
  width: 200px;
  & .cookie-toggle {
    visibility: hidden;
  }
  & span {
    margin: 5px 10px;
  }
  & .label {
    background-color: #d0d0d0;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0;
    width: 60px;
    height: 30px;
    position: relative;
  }
  & .ball {
    background: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    align-items: center;
    justify-content: center;
    animation: slideOff 0.3s linear forwards;
  }
}
.cookie-toggle:checked + .label {
  background-color: #61a229;
}
.cookie-toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}
@keyframes slideOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes slideOff {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
#cookie-save-accept-btn {
  position: absolute;
  right: 5%;
  bottom: 5%;
  border: 0;
  background-color: #61a229;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  &:hover {
    background-color: #25d366;
  }
}

/* ========================================== */
/* ============== MAIN SECTION ============== */
/* ========================================== */
main.hidden {
  display: none;
}
/* ================ COOKIES PAGE ================ */
#cookies-policy-page {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  & h1 {
    font-size: 3rem;
  }
  & h3 {
    font-size: 1.5rem;
    margin: 50px 0 20px 0;
  }
  & p {
    width: 60%;
    margin: 0 0 20px 0;
    line-height: 1.5rem;
  }
  & table {
    width: 70%;
    border-collapse: collapse;
    & tr {
      padding: 0;
    }
    & td,
    & th {
      border: 1px solid #ccc;
      vertical-align: top;
      text-align: left;
      color: #333;
    }
    & th {
      padding: 10px;
      background-color: #e2e2e2;
    }
    & td {
      width: 50%;
      height: 75px;
      padding: 5px 20px 0 5px;
      line-height: 1.5rem;
      background-color: #f7f7f7;
    }
  }
  &.hidden {
    display: none;
  }
}

/* ================ NOVO PAGE ================ */
#novo {
  width: 70%;
  margin: 150px auto 200px;
  & h1 {
    font-size: 3rem;
    margin-top: 100px;
  }
  & h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1em;
  }
  & small {
    font-size: 1.8rem;
    line-height: 0.9rem;
  }
  & p {
    font-size: 1.5rem;
    width: 40%;
    line-height: 1.5em;
    margin: 10px 0 100px 0;
  }
}
#novos-feat-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}
.novos-feat,
.novos-feat-text {
  display: flex;
  align-items: center;
}
#novos-feat-list img {
  height: 55px;
  margin-right: 30px;
}
#novos-bottom-text {
  margin-top: 100px;
  width: 60%;
}

/* ================= SOBRE PAGE ================= */
#sobre-content {
  width: 70%;
  margin: -50px auto 75px;
  display: flex;
  position: relative;
}
#sobre-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 50%;
  padding: 50px 0 0 0;
  & h1 {
    font-size: 3rem;
    margin-bottom: 55px;
  }
  & p {
    font-size: 1.4rem;
    line-height: 1.8em;
  }
}
#sobre-img {
  z-index: -1;
  position: relative;
  & img {
    height: 600px;
    max-height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

/* ================= FAQ PAGE ================= */
main#faqs {
  width: 65%;
  margin: 150px auto 0;
  & h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
}
#faqs-subtitle {
  font-size: 1.5rem;
}

#faq-container {
  width: 65%;
  margin: 75px 0;
  & hr {
    opacity: 0.2;
  }
}

.faq {
  margin: 30px 0 0 10px;
  & p {
    margin: 30px 0 0 0;
  }
}

.faq-toggle {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  color: var(--bg-color-purple);
  & h3 {
    margin-left: 10px;
    color: var(--bg-color-purple);
  }
  &.active {
    color: var(--bg-color-red);
    & h3 {
      color: var(--bg-color-red);
    }
    & i {
      transform: rotate(-90deg);
    }
  }
}

.faq-text {
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &.active {
    display: block;
    margin-bottom: 30px;
  }
}

/* ================= INICIO PAGE & GENERAL ================= */
.container {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;

  & h1 {
    font-size: 3rem;
  }
  & p {
    font-size: 1.5rem;
    width: 45%;
  }
}

.container-feat-cards-span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 75px;
}

.feat-card {
  /* width: 20%; */
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;

  & h3 {
    font-size: 2rem;
    width: 80%;
  }

  & i {
    font-size: 3rem;
  }
  & p {
    width: 80%;
  }
}

.flip {
  width: 300px;
  height: 250px;
  position: relative;
  & h3 {
    font-size: 1.4rem;
  }
}

.feat-card-back,
.feat-card-front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.feat-card-back {
  display: none;
  z-index: 1;
  animation: cardflip 0.8s;
}

@keyframes cardflip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-btn {
  padding: 10px 15px;
  border-radius: 25px;
  border: solid #fff 2px;

  &:hover {
    animation: card-btn-animation 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes card-btn-animation {
  100% {
    color: inherit;
    background-color: #fff;
  }
}

#second-container {
  position: relative;
  margin-bottom: 0;
  & img {
    position: absolute;
    left: 50px;
    top: 60px;
    width: 27%;
    z-index: -1;
  }
}

#sixth-container {
  padding: 50px 0;
  margin-bottom: 0;
}

/* EMAIL FORM CONTAINER */
#contact-form-container {
  display: flex;
  justify-content: space-between;
  margin: 90px auto 0;
}

#contact-form {
  text-align: left;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 150px 150px 150px;
  & p {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
  & form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    & input,
    & textarea {
      width: 100%;
      height: 40px;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.6);
      padding-left: 10px;
      border-radius: 5px;
      border: 1px solid black;
    }
    & button {
      width: 102%;
      height: 40px;
      font-size: 1rem;
    }
    & label {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  & button {
    border: none;
  }
  & button:hover {
    background-color: var(--bg-color-purple);
    cursor: pointer;
  }
}

#contact-img {
  position: relative;
  & img {
    position: absolute;
    height: 90%;
    bottom: 0px;
    right: 0px;
    z-index: -1;
  }
}

/* FOOTER SECTION */
footer {
  background-color: #303030;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
#footer-contact-info {
  padding: 0 100px 0 20px;
}
#footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  gap: 10px 40px;
  & a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.79);
    font-weight: 400;
    height: 25px;
    width: 30%;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

/* NICHE SETTINGS */
@media (max-width: 1500px) {
  #hero-img {
    width: 0;
    & img {
      height: 500px;
      opacity: 0.5;
    }
  }
  #hero-info {
    width: 100%;
  }
}
@media (max-width: 1350px) {
  #hero-img img {
    opacity: 0.2;
  }
}

/* TV/XL SCREENS */
@media (min-width: 1201px) {
  #mobile-nav {
    display: none;
  }
}

/* DESKTOP/LARGE SCREENS */
@media (min-width: 1025px) and (max-width: 1200px) {
  #mobile-nav {
    display: none;
  }
  /* #hero-info{
    width: 100%;
  } */
  #hero-img {
    display: none;
  }
  #second-container img {
    display: none;
  }
  #contact-img {
    opacity: 0.5;
    /* display: none; */
    z-index: -1;
  }
  #sobre-img {
    display: none;
  }

  /* CONTATO Form */
  #contact-form {
    width: 80%;
    margin: 0 auto 150px;
  }
  /* Sobre Page */
  #sobre-text {
    width: 100%;
  }
}

/* LAPTOPS/SMALL SCREENS */
@media (min-width: 769px) and (max-width: 1024px) {
  #nav-items {
    display: none;
  }
  #whatsapp {
    display: none;
  }
  #hero-img {
    display: none;
  }
  #second-container img {
    display: none;
  }
  #contact-img {
    display: none;
  }
  #sobre-img {
    display: none;
  }

  /* INICIO Page */
  .container-feat-cards-span {
    gap: 0;
    padding: 50px;
  }
  /* CONTATO Form */
  #contact-form {
    width: 80%;
    margin: 0 auto 150px;
  }
  /* Novo Page */
  #novos-bottom-text {
    width: 80%;
  }
  /* Sobre Page */
  #sobre-text {
    width: 100%;
  }

  /* FAQ PAge */
  #faq-container {
    width: 100%;
  }
}

/* iPAD/TABLET SCREENS */
@media (min-width: 481px) and (max-width: 768px) {
  #nav-items {
    display: none;
  }
  #whatsapp {
    display: none;
  }
  #hero-img {
    display: none;
  }
  #second-container img {
    display: none;
  }
  #contact-img {
    display: none;
  }
  #sobre-img {
    display: none;
  }

  /* INICIO Page */
  .container-feat-cards-span {
    gap: 0;
    padding: 50px;
  }

  /* Novo Page */
  #novo {
    & h1 {
      font-size: 2.5rem;
      /* margin-top: 100px; */
    }
    & h3 {
      font-size: 2rem;
      /* font-weight: 400; */
      line-height: 0.8em;
    }
    & small {
      font-size: 1.5rem;
      /* line-height: 0.9rem; */
    }
    & p {
      font-size: 1.5rem;
      width: 80%;
      /* line-height: 1.5em; */
      /* margin: 10px 0 100px 0; */
    }
  }
  /* Inicio Page */
  .container-intro {
    & h1 {
      font-size: 2rem;
    }
    & p {
      font-size: 1rem;
      width: 80%;
    }
  }
  /* CONTATO Form */
  #contact-form {
    width: 80%;
    margin: 0 auto 150px;
  }

  /* FAQ Page */
  main#faqs {
    text-align: center;
    & h1 {
      font-size: 2rem;
    }
  }
  #faqs-subtitle {
    font-size: 1.2rem;
  }
  #faq-container {
    width: 100%;
  }
  /* Sobre Page */
  #sobre-text {
    width: 100%;
    & h1 {
      font-size: 2.5rem;
    }
    & p {
      font-size: 1rem;
    }
  }

  /* Footer */
  footer {
    flex-wrap: wrap-reverse;
  }
  #footer-contact-info {
    padding: 100px 20px 0;
    text-align: center;
  }
  #footer-links {
    justify-content: center;
    width: 100%;
    gap: 20px 40px;
  }
}

/* MOBILE SCREENS (min-width: 320px)*/
@media (max-width: 480px) {
  nav img {
    height: 60px;
    margin-left: 6%;
  }
  header {
    width: 100%;
  }
  #hero {
    width: 80%;
    margin: auto;
    & #hero-title {
      font-size: 2rem;
    }
    & #hero-text {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  #mobile-nav {
    padding: 20px 2% 0 0;
  }
  #nav-items {
    display: none;
  }
  #whatsapp {
    display: none;
  }
  #hero-img {
    display: none;
  }
  #second-container img {
    display: none;
  }
  #contact-img {
    display: none;
  }
  #sobre-img {
    display: none;
  }
  /* Inicio Page */
  .container-intro {
    & h1 {
      font-size: 1.5rem;
    }
    & p {
      font-size: 1rem;
      width: 80%;
    }
  }
  .container-feat-cards-span {
    gap: 0;
    padding: 50px;
  }
  .feat-card {
    width: 100%;
  }
  #sixth-container {
    & .feat-card h3 {
      font-size: 1.5rem;
    }
    & .feat-card p {
      font-size: 1rem;
    }
  }

  /* CONTATO Form */
  #contact-form {
    width: 80%;
    margin: 0 auto 150px;
    & p {
      font-size: 1rem;
    }
    & #submit-btn {
      width: 105%;
    }
  }
  /* Novo Page */
  #novo {
    width: 90%;
    margin: 100px auto 150px;
    & h1 {
      text-align: center;
      font-size: 1.5rem;
      /* margin-top: 100px; */
    }
    & h3 {
      font-size: 1.5rem;
      /* font-weight: 400; */
      line-height: 0.8em;
    }
    & small {
      font-size: 1rem;
      /* line-height: 0.9rem; */
    }
    & p {
      text-align: center;
      font-size: 1rem;
      width: 80%;
      margin: 10px auto 100px;
      /* line-height: 1.5em; */
      /* margin: 10px 0 100px 0; */
    }
  }
  #novos-feat-list {
    width: 90%;
    margin: auto;
  }
  #novos-bottom-text {
    width: 100%;
  }
  /* FAQ Page */
  main#faqs {
    text-align: center;
    width: 80%;
    & h1 {
      font-size: 1.5rem;
    }
  }
  #faqs-subtitle {
    font-size: 1rem;
  }
  #faq-container {
    width: 100%;
  }
  .faq-toggle h3 {
    font-size: 1rem;
  }
  /* Sobre Page */
  #sobre-text {
    width: 100%;
    & h1 {
      font-size: 2rem;
    }
    & p {
      font-size: 1rem;
    }
  }

  /* Footer */
  footer {
    flex-wrap: wrap-reverse;
  }
  #footer-contact-info {
    padding: 100px 20px 0;
    text-align: center;
  }
  #footer-links {
    justify-content: center;
    width: 100%;
    gap: 20px 40px;
    & a {
      width: 40%;
    }
  }
}
