/* =============== GENERAL TAGS =============== */
*{
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}

p {
    font-weight: 400;
}
/* ========== CUSTOM GLOBAL VARIABLES & CLASSES ========== */
:root{
    --bg-color-purple: #443B91;
    --bg-color-blue: #00AFEF;
    --bg-color-red: #E7373D;
}
.red-bg{
    background-color: var(--bg-color-red);
}
.blue-bg{
    background-color: var(--bg-color-blue);
}
.purple-bg{
    background-color: var(--bg-color-purple);
}

.red-font {
    color: #E7373D;
}

.blue-font {
    color: #00AFEF;
}

.purple-font {
    color: #443B91;
}

.grey-font {
    color: #7A7A7A;
}

.white-font {
    color: #fff;
}

/* ============== HEADER SECTION ============== */
header{
    width: 70%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}

#nav-items{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-items a{
    font-size: 1.3rem;
    padding: 12px;
    border-radius: 25px;

    &:hover, &.active{
        color: #fff;
        background-color: var(--bg-color-purple);
    }
}

#hero {
    display: flex;
    padding: 100px 0;
}

#hero-info, #hero-img {
    width: 50%;
}
#hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-title{
    font-size: 3rem;
    margin: 0 0 20px 0;
    width: fit-content;
    /* & span{
        color: var(--palette-color-purple);
    } */
}

#hero-text{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 0 30px 0;
    width: 70%;
}

#hero-know-more-btn {
    color: #fff;
    background-color: var(--bg-color-blue);
    padding: 15px;
    border-radius: 25px;
    margin: 0 0 30px 0;
    width: fit-content;
    transition: .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

#hero-details{
    /* color: var(--palette-color-red); */
    display: flex;
    gap: 5px;
    width: fit-content;

    & p{
        margin-right: 10px;
    }
}

#hero-img img{
    height: 600px;
}


/* ============== MAIN SECTION ============== */
.container{
    text-align: center;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: auto;

    & h1 {
        /* color: var(--palette-color-purple); */
        font-size: 3rem;
    }
    & p {
        font-size: 1.5rem;
    }
}

.container-feat-cards-span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.feat-card{
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & h3{
        font-size: 2rem;
    }

    & i {
        font-size: 3rem;
    }
}

.flip{
    width: 300px;
    height: 250px;
    position: relative;
    & h3{
        font-size: 1.4rem;
    }
}

.feat-card-back, .feat-card-front{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.feat-card-back{
    display: none;
    z-index: 1;
    animation: cardflip .8s;
}

@keyframes cardflip {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.card-btn{
    padding: 10px 15px;
    border-radius: 25px;
    border: solid #fff 2px;

    &:hover{
        animation: card-btn-animation .5s;
        animation-fill-mode: forwards;
    }
}

@keyframes card-btn-animation {
    100%{
        color: inherit;
        background-color: #fff;
    }
}







